*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:linear-gradient(white,whitesmoke);
    font-family: 'Lato', sans-serif;
}
p{
    font-weight: 1000;
}
.nav{
    width: 100%;
    height: 5%;
    text-align: center;
    margin-top: 1%;
}
.nav a{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 900;
    border-bottom: 2px solid transparent;
    transition: 1s;
    margin: 2% 5%;
}
.nav a:hover{
    border-bottom: 2px solid black;
}
.up{
    display: flex;
    height: 20%;
    margin-top: 2%;
    justify-content: space-between;
}
.left{
    box-shadow: 10px 10px 5px grey;
    margin-top: 5%;
    width: 30%;
    height: 50%;
    margin-left: 2%;
    display: flex;
    transition: 1s;
}
.left h4{
    margin: 3% 25%;
    color: black;
    font-family: 'Lato', sans-serif;
}
.left p{
    height: 20%;
    position: relative;
    left: -55%;
    top: 50%;
}

.left img{
    margin: 5%;
    width: 20%;
    height: 70%;
}
.left:hover{
    box-shadow: 1px 1px 2px grey;
    width: 35%;
    cursor: pointer;
    height: 55%;
}
.middle{
    box-shadow: 10px 10px 5px grey;
    margin-top: 5%;
    width: 30%;
    height: 50%;
    display: flex;
    transition: 1s;
}
.middle h4{
    margin: 3% 25%;
    color: black;
}
.middle p{
    height: 20%;
    position: relative;
    left: -45%;
    top: 45%;
}
.middle img{
    margin: 5%;
    width: 20%;
    height: 70%;
}
.middle:hover{
    box-shadow: 1px 1px 2px grey;
    width: 35%;
    height: 55%;
    cursor: pointer;
}
.right{
    margin-right: 2%;
    margin-top: 5%;
    width: 30%;
    height: 50%;
    display: flex;
    box-shadow: 10px 10px 5px grey;
    transition: 1s;
}
.right h4{
    margin: 3% 25%;
    color: black;
}
.right p{
    height: 20%;
    position: relative;
    left: -65%;
    top: 50%;
}

.right img{
    margin: 5%;
    width: 20%;
    height: 70%;
}
.right:hover{
    box-shadow: 1px 1px 2px grey;
    width: 35%;
    height: 55%;
    cursor: pointer;
}
.main{
    width: 90%;
    margin: 5%;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 90%;
}
.main h1{
    color: #3CBC8D;
    margin-left: 5%;
    margin-top: 1%;
}
.info{
    display: flex;
    margin-top: 5%;
    background-color: #f2f2f2;
    justify-content: space-between;
}
input[type=number]{
    border-radius: 5px;
    border: 2px solid black;
}
.info img{
    width: 5%;
}
::placeholder{
    text-align: center;
}
input[type=email]{
    border-radius: 5px;
    border: 2px solid black;
}
input[type=text]{
    border-radius: 5px;
    border: 2px solid black;
}
.message{
    width: 100%;
    height: 70%;
    margin-top: 2%;
    border-radius: 5px;
}
.message input[type=text]{
    width: 100%;
    height: 90%;
    background-color: white;
    border: none;
}
.message ::placeholder{
    position: relative;
    top: 45%;
    left: 5%;
    text-align: start;
}

.btn{
    width: 20%;
    position: absolute;
    top: 116.5%;
    left: 6%;
    height: 10%;
    border: none;
    border-radius: 12px;
    margin-top: 5px;
    background-color: #3CBC8D;
}
@media (max-width:400px) {
    .up{
        height: 200%;
        display: block;
    }
    .middle{
        width: 100%;
        height: 10%;
    }
    .left{
        width: 100%;
        height: 10%;
    }
    .right{
        width: 100%;
        height: 10%;
    }
    .middle:hover,.left:hover,.right:hover{
        width: 100%;
        height: 10%;
    }
    .info{
        display: block;
        align-items: center;
        position: relative;
        top: -110%;
    }
    .message{
        position: relative;
        top: -20%;
    }
    .info img{
        width: 20%;
        margin: 2%  40%;
    }
    input[type=number]{
        width: 100%;
        height: 10%;
    }
    input[type=email]{
        width: 100%;
        height: 10%;
    }
    input[type=text]{
        width: 100%;
        height: 10%;

    }
    .btn{
        position: relative;
    }
}